extends layout

block inc_script
   script(type='text/javascript').
    !function(t,e){if(void 0===e[t]){e[t]=function(){e[t].clients.push(this),this._init=[Array.prototype.slice.call(arguments)]},e[t].clients=[];for(var r=function(t){return function(){return this["_"+t]=this["_"+t]||[],this["_"+t].push(Array.prototype.slice.call(arguments)),this}},n=["addRecord","set","trackEvent","trackPageview","ready"],s=0;s<n.length;s++){var i=n[s];e[t].prototype[i]=r(i)}var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.treasuredata.com/sdk/td-1.5.1.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(a,c)}}("Treasure",this);

block content
    div(height="600px")
        h1= title
        script(type='text/javascript').
            // Configure an instance for your database
            var td = new Treasure({
            host: 'in.treasuredata.com',
            writeKey: '7089/e01365a916c21bda11696937d123a4fc06eaf91c',
            database: 'weather_data'
            });
            // track pageview information to 'pageviews' table
            td.trackPageview('pageviews');